<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.asset.mapper.AssetMaintainMapper">
    
    <resultMap type="AssetMaintain" id="AssetMaintainResult">
        <result property="id"    column="id"    />
        <result property="cateId"    column="cate_id"    />
        <result property="assetId"    column="asset_id"    />
        <result property="type"    column="type"    />
        <result property="reason"    column="reason"    />
        <result property="checkUserId"    column="check_user_id"    />
        <result property="masterUserId"    column="master_user_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="checkTime"    column="check_time"    />
        <result property="checkReason"    column="check_reason"    />
        <result property="createBy"    column="create_by"    />
        <result property="isComplete"    column="is_complete"    />
        <result property="money"    column="money"    />
        <result property="comment"    column="comment"    />
        <result property="result"    column="result"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="applyUser"    column="create_by" javaType="SysUser" resultMap="applyUserResult" />
        <association property="checkUser"    column="check_user_id" javaType="SysUser" resultMap="checkUserResult" />
        <association property="masterUser"    column="check_user_id" javaType="SysUser" resultMap="masterUserResult" />
        <association property="cate"    column="cate_id" javaType="AssetCategory" resultMap="cateResult" />
        <association property="asset"    column="asset_id" javaType="AssetInfo" resultMap="assetInfoResult" />
    </resultMap>
    
    <resultMap type="SysUser" id="applyUserResult">
        <result property="userId"    column="apply_user_id"    />
        <result property="nickName"    column="apply_user_name"    />
    </resultMap>
    <resultMap type="SysUser" id="checkUserResult">
        <result property="userId"    column="check_user_id"    />
        <result property="nickName"    column="check_user_name"    />
    </resultMap>
    <resultMap type="SysUser" id="masterUserResult">
        <result property="userId"    column="master_user_id"    />
        <result property="nickName"    column="master_user_name"    />
    </resultMap>
    <resultMap type="AssetCategory" id="cateResult">
        <result property="id"    column="cate_id"    />
        <result property="title"    column="cate_name"    />
        <result property="type"    column="cate_type"    />
    </resultMap>
    <resultMap type="AssetInfo" id="assetInfoResult">
        <result property="id"    column="asset_id"    />
        <result property="num"    column="asset_num"    />
        <result property="name"    column="asset_name"    />
    </resultMap> 

    <sql id="selectAssetMaintainVo">
        select t.*, au.user_id apply_user_id, au.nick_name apply_user_name, cu.nick_name check_user_name, mu.nick_name master_user_name, c.title cate_name, c.type cate_type,i.name asset_name, i.num asset_num
         from asset_maintain t
         join asset_category c on t.cate_id = c.id
         join asset_info i on t.asset_id = i.id
         join sys_user au on au.user_name = t.create_by
         left join sys_user cu on cu.user_id = t.check_user_id
         left join sys_user mu on mu.user_id = t.master_user_id
    </sql>

    <select id="selectAssetMaintainList" parameterType="AssetMaintain" resultMap="AssetMaintainResult">
        <include refid="selectAssetMaintainVo"/>
        <where>  
            <if test="cateId != null "> and t.cate_id = #{cateId}</if>
            <if test="assetId != null "> and t.asset_id = #{assetId}</if>
            <if test="type != null  and type != ''"> and t.type = #{type}</if>
            <if test="checkUserId != null "> and t.check_user_id = #{checkUserId}</if>
            <if test="masterUserId != null "> and t.master_user_id = #{masterUserId}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and t.check_status = #{checkStatus}</if>
            <if test="checkReason != null  and checkReason != ''"> and check_reason = #{checkReason}</if>
            <if test="isComplete != null  and isComplete != ''"> and t.is_complete = #{isComplete}</if>
            <if test="result != null  and result != ''"> and t.result = #{result}</if>
            
            <if test="params.keywords != null and params.keywords != ''"><!-- 开始时间检索 -->
                and (i.name like concat('%', #{params.keywords}, '%') or i.num like concat('%', #{params.keywords}, '%'))
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(t.start_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(t.finish_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectAssetMaintainById" parameterType="Long" resultMap="AssetMaintainResult">
        <include refid="selectAssetMaintainVo"/>
        where t.id = #{id}
    </select>
        
    <insert id="insertAssetMaintain" parameterType="AssetMaintain" useGeneratedKeys="true" keyProperty="id">
        insert into asset_maintain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cateId != null">cate_id,</if>
            <if test="assetId != null">asset_id,</if>
            <if test="type != null">type,</if>
            <if test="reason != null and reason != ''">reason,</if>
            <if test="checkUserId != null">check_user_id,</if>
            <if test="masterUserId != null">master_user_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="checkTime != null">check_time,</if>
            <if test="checkReason != null">check_reason,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="isComplete != null">is_complete,</if>
            <if test="money != null">money,</if>
            <if test="comment != null">comment,</if>
            <if test="result != null">result,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cateId != null">#{cateId},</if>
            <if test="assetId != null">#{assetId},</if>
            <if test="type != null">#{type},</if>
            <if test="reason != null and reason != ''">#{reason},</if>
            <if test="checkUserId != null">#{checkUserId},</if>
            <if test="masterUserId != null">#{masterUserId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="checkTime != null">#{checkTime},</if>
            <if test="checkReason != null">#{checkReason},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="isComplete != null">#{isComplete},</if>
            <if test="money != null">#{money},</if>
            <if test="comment != null">#{comment},</if>
            <if test="result != null">#{result},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssetMaintain" parameterType="AssetMaintain">
        update asset_maintain
        <trim prefix="SET" suffixOverrides=",">
            <if test="cateId != null">cate_id = #{cateId},</if>
            <if test="assetId != null">asset_id = #{assetId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
            <if test="checkUserId != null">check_user_id = #{checkUserId},</if>
            <if test="masterUserId != null">master_user_id = #{masterUserId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
            <if test="checkReason != null">check_reason = #{checkReason},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="isComplete != null">is_complete = #{isComplete},</if>
            <if test="money != null">money = #{money},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="result != null">result = #{result},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetMaintainById" parameterType="Long">
        delete from asset_maintain where id = #{id}
    </delete>

    <delete id="deleteAssetMaintainByIds" parameterType="String">
        delete from asset_maintain where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>