<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yun.mapper.YunFolderMapper">
    
    <resultMap type="YunFolder" id="YunFolderResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="pid"    column="pid"    />
        <result property="listSort"    column="list_sort"    />
        <result property="isPublic"    column="is_public"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectYunFolderVo">
        select id, title, pid, list_sort, is_public, create_by, create_time, update_by, update_time from yun_folder
    </sql>

    <select id="selectYunFolderList" parameterType="YunFolder" resultMap="YunFolderResult">
        <include refid="selectYunFolderVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="isPublic != null  and isPublic != ''"> and is_public = #{isPublic}</if>
        </where>
    </select>
    
    <select id="selectYunFolderById" parameterType="Long" resultMap="YunFolderResult">
        <include refid="selectYunFolderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertYunFolder" parameterType="YunFolder" useGeneratedKeys="true" keyProperty="id">
        insert into yun_folder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="pid != null">pid,</if>
            <if test="listSort != null">list_sort,</if>
            <if test="isPublic != null and isPublic != ''">is_public,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="pid != null">#{pid},</if>
            <if test="listSort != null">#{listSort},</if>
            <if test="isPublic != null and isPublic != ''">#{isPublic},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateYunFolder" parameterType="YunFolder">
        update yun_folder
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="listSort != null">list_sort = #{listSort},</if>
            <if test="isPublic != null and isPublic != ''">is_public = #{isPublic},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYunFolderById" parameterType="Long">
        delete from yun_folder where id = #{id}
    </delete>

    <delete id="deleteYunFolderByIds" parameterType="String">
        delete from yun_folder where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>